/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #c3d5e7;
}

/* Estilo general para App */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
